apiVersion: apps/v1
kind: Deployment
metadata: 
  name: my-firstrdeployment
spec:
  replicas: 2  # 2 replica of this pod
  selector:
    matchLabels:
      tier: frontend
  template:
    metadata:
      labels:
        tier: frontend
    spec:
      containers:
      - name: mywebserver
        image: nginx
